<h1 style="text-align: center;">{{title}}</h1>
<div class="container" style="display:flex; gap:15px">
  {{#each authors}}

    <div class="card" style="width: 18rem;">
      <img
        src="https://i.pinimg.com/736x/2b/e6/6d/2be66d0bb2ea133e23a904ea2d66b8e1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-test-bold">First name:</p>
        <p class="card-text">{{first_name}}</p>
        <p class="card-test-bold">Last name:</p>
        <p class="card-text">{{last_name}}</p>
        <p class="card-test-bold">Info:</p>
        <p class="card-text">{{info}}</p>
      </div>
    </div>
  {{/each}}
</div>
<ul id="list-authors">
</ul>

<script src="./js/authorScript.js"></script>
<script>
  getAuthors()
</script>