<h1 style="text-align: center;">{{title}}</h1>
<div class="container" style="display:flex; gap:15px">
  {{#each authors}}

    <div class="card" style="width: 18rem;">
      <img
        src="https://www.teachingpacks.co.uk/wp-content/uploads/2022/09/Authors-Facebook.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-test-bold">First name:</p>
        <p class="card-text">{{first_name}}</p>
        <p class="card-test-bold">Last name:</p>
        <p class="card-text">{{last_name}}</p>
        <p class="card-test-bold">Info:</p>
        <p class="card-text">{{info}}</p>
      </div>
    </div>
  {{/each}}
</div>
<ul id="list-authors">
</ul>

<script src="./js/authorScript.js"></script>
<script>
  getAuthors()
</script>