<h1 style="text-align: center;">{{title}}</h1>
<div class="container" style="display:flex; gap:15px">
  {{#each topics}}

    <div class="card" style="width: 18rem;">
      <img
        src="https://i.pinimg.com/736x/5b/2f/f8/5b2ff8b4e1de21823ce766dd1f5738d2.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p class="card-test-bold">Title:</p>
        <p class="card-text">{{topic_title}}</p>
        <p class="card-test-bold">Text:</p>
        <p class="card-text">{{topic_text}}</p>
      </div>
    </div>

  {{/each}}
</div>

<ul id="list-topics">
</ul>

<script src="./js/topicScript.js"></script>
<script>
  getTopics()
</script>